# Built-in Data Structures, Functions,

## Data Structures and Sequences

### Tuple

A tuple is a fixed-length, immutable sequence of Python objects. 
The easiest way to create one is with a comma-separated sequence of values:

In [1]:
tup =( 4, 5, 6)
tup

(4, 5, 6)

In [2]:
#must use paranthesis for complicated tuples: a tuple of tuples

nested_tup = ((4, 5, 6), (7, 8))
nested_tup

((4, 5, 6), (7, 8))

In [4]:
#You can convert any sequence or iterator to a tuple by invoking tuple:

t=tuple([4, 0, 2])
t2=tuple("string")
tup = tuple(['foo', [1, 2], True])
tup

('foo', [1, 2], True)

In [6]:
#tup[1]=[2,4]#can  be accessed with C like indexes
print (tup[1])

[1, 2]

In [ ]:
tup = tuple(['foo', [1, 2], True])#even if the elements are mutable once in a tuple 
#once the tuple is cre‐ ated it’s not possible to modify which object is stored in each slot:
tup[2] = False

TypeError: 'tuple' object does not support item assignment

In [8]:
#If an object inside a tuple is mutable, such as a list, you can modify it in-place:
tup[1].append(3)
tup

('foo', [1, 2, 3, 3], True)

In [ ]:
(4, None, 'foo') + (6, 0) + ('bar',)

(4, None, 'foo', 6, 0, 'bar')

In [ ]:
('foo', 'bar') * 4

('foo', 'bar', 'foo', 'bar', 'foo', 'bar', 'foo', 'bar')

#### Unpacking tuples

In [ ]:
tup = (4, 5, 6)
a, b, c = tup
a
ap=tup[0]
bp=tup[1]
cp=tup[2]

4

In [ ]:
b

5

In [ ]:
#a funny swap
a,b=b,a
a

In [ ]:
b

In [ ]:
tup = (4, 5, (6, 7))
#Even sequences with nested tuples can be unpacked:
a, b, (c, d) = tup
d

In [ ]:
tmp = a
a = b
b = tmp

In [ ]:
a, b = 1, 2
a
b
b, a = a, b
a
b

In [9]:
#A common use of variable unpacking is iterating over sequences of tuples or lists:
seq = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
for a, b, c in seq:
    print('a={0}, b={1}, c={2}'.format(a, b, c))

a=1, b=2, c=3
a=4, b=5, c=6
a=7, b=8, c=9

In [15]:
values =( 1, 2, 3, 4, 5,5,6,7,8,8)
a,*r,b,c = values # beware * wild char
a, b,c

(1, 8, 8)

In [17]:
#traditionally _ is used for unwanted variables
a, b, *_= values

[3, 4, 5, 5, 6, 7, 8, 8]

#### Tuple methods

In [ ]:
a = (1, 2, 2, 2, 3, 4, 2)
a.count(2)

4

### List

In contrast with tuples, lists are variable-length and their contents can be modified in-place. You can define them using square brackets [] or using the list type funtion:

In [19]:
a_list = [2, 3, 7, None]
tup = ('foo', 'bar', 'baz')
b_list = list(tup)

In [20]:
b_list

['foo', 'bar', 'baz']

In [21]:
b_list[1] = 'peekaboo'
b_list

['foo', 'peekaboo', 'baz']

In [ ]:
#The list function is frequently used in data processing as a way to materialize an iterator!
#or generator! expression:

gen = range(10)
gen
list(gen)

#### Adding and removing elements

In [ ]:
b_list.append('dwarf')
b_list

['foo', 'peekaboo', 'baz', 'dwarf']

In [ ]:
b_list.insert(1, 'red')
b_list

['foo', 'red', 'peekaboo', 'baz', 'dwarf']

In [22]:
b_list.pop(2)

'baz'

In [23]:
b_list

['foo', 'peekaboo']

In [25]:
b_list.append('foo')
b_list

['foo', 'peekaboo', 'foo', 'foo']

In [26]:
b_list.remove('foo')
b_list

['peekaboo', 'foo', 'foo']

In [27]:
'dwarf' in b_list

False

In [28]:
'dwarf' not in b_list

True

Checking whether a list contains a value is a lot slower than doing so with dicts and sets .

#### Concatenating and combining lists

In [29]:
[4, None, 'foo'] + [7, 8, (2, 3)]

[4, None, 'foo', 7, 8, (2, 3)]

In [30]:
x = [4, None, 'foo']
x.extend([7, 8, (2, 3)])
x

[4, None, 'foo', 7, 8, (2, 3)]

In [ ]:
everything = []
for chunk in list_of_lists:
    everything.extend(chunk)

<i>is faster than <i>

In [34]:
everything = []
for chunk in [[1,"ali"],[2,"veli"],[3.0,"deli"]]:
    everything = everything + chunk
everything

[1, 'ali', 2, 'veli', 3.0, 'deli']

#### Sorting

In [35]:
a = [7, 2, 5, 1, 3]
a.sort()
a

[1, 2, 3, 5, 7]

In [36]:
b = ['saw', 'small', 'He', 'foxes', 'six']
b.sort(key=len)
b

['He', 'saw', 'six', 'small', 'foxes']

#### Binary search and maintaining a sorted list

In [ ]:
import bisect
c = [1, 2, 2, 2, 3, 4, 7]
bisect.bisect(c, 2)
bisect.bisect(c, 5)
bisect.insort(c, 6)
c

#### Slicing

In [37]:
seq = [7, 2, 3, 7, 5, 6, 0, 1]
seq[1:5]

[2, 3, 7, 5]

In [38]:
seq[3:4]

[7]

In [40]:
#Slices can also be assigned to with a sequence:
seq[3:4] = [1000,15 ]
seq

[7, 2, 3, 1000, 15, 3, 5, 6, 0, 1]

While the element at the start index is included, the stop index is not included, so
that the number of elements in the result is stop - start.

In [ ]:
seq[:5]
seq[3:]

In [41]:
#Negative indices slice the sequence relative to the end:

seq[-4:]

[5, 6, 0, 1]

In [42]:
seq[-6:-2]

[15, 3, 5, 6]

   see page 59

In [43]:
#A step can also be used after a second colon to, say, take every other element:
seq[::2]

[7, 3, 15, 5, 0]

In [44]:
#reverse alistor tuple
seq[::-1]

[1, 0, 6, 5, 3, 15, 1000, 3, 2, 7]

### Built-in Sequence Functions

#### enumerate

In [ ]:
# enumerate returns asequence of (i, value) tuples:
for i, value in enumerate(collection):
   # do something with value

When you are indexing data, a helpful pattern that uses enumerate is computing a dict mapping the values of a sequence (which are assumed to be unique) to their locations in the sequence:

In [46]:
some_list = ['foo', 'bar', 'baz']
mapping = {}
type(mapping)

dict

In [47]:
for i, v in enumerate(some_list): # (0,"foo"),(1,"bar"),(2,baz)
    print(i,v)

0 foo
1 bar
2 baz

In [ ]:
for i, v in enumerate(some_list):
    mapping[v] = i
mapping

#### sorted

The sorted function returns a new sorted list from the elements of any sequence:

In [48]:
sorted([7, 1, 2, 6, 0, 3, 2]) # [7, 1, 2, 6, 0, 3, 2].sort()-> changes the original şist

[0, 1, 2, 2, 3, 6, 7]

#### zip

zip “pairs” up the elements of a number of lists, tuples, or other sequences to create a list of tuples:

In [49]:
seq1 = ['foo', 'bar', 'baz']
seq2 = ['one', 'two', 'three']
zipped = zip(seq1, seq2)

In [50]:
list(zipped)

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [52]:
seq3 = [False, True]
list(zip(seq1, seq2, seq3))

[('foo', 'one', False), ('bar', 'two', True)]

A very common use of zip is simultaneously iterating over multiple sequences, possi‐
bly also combined with enumerate:

In [53]:
for i, (a, b) in enumerate(zip(seq1, seq2)):
    print('{0}: {1}, {2}'.format(i, a, b))

0: foo, one
1: bar, two
2: baz, three

Given a “zipped” sequence, zip can be applied in a clever way to “unzip” the sequence. Another way to think about this is converting a list of rows into a list of columns. The syntax, which looks a bit magical, is:

In [54]:
pitchers = [('Nolan', 'Ryan'), ('Roger', 'Clemens'),
            ('Schilling', 'Curt')]
first_names, last_names = zip(*pitchers)
first_names
last_names

('Ryan', 'Clemens', 'Curt')

#### reversed

 reversed is a <b>generator</b> , so it does not create the reversed sequence until materialized

In [ ]:
list(reversed(range(10)))# generator

### dict (aka hash map or associative array)

dict is a flexibly sized collection of key-value pairs, where key and value are Python objects. One approach for creating one is to use curly braces {} and colons to separate keys and values:

In [55]:
empty_dict = {}
d1 = {'a' : 'some value', 'b' : [1, 2, 3, 4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [56]:
d1['a']

'some value'

In [57]:
#You can access, insert, or set elements using the same syntax as for accessing elements of a list :
d1['c'] = 'an integer'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 'an integer'}

In [58]:
#You can check if a dict contains a !key!  with in keyword
'b' in d1

True

In [61]:
d1[5] = 'some value'
d1
d1['dummy'] = 13.0
d1

{5: 'some value',
 'a': 'some value',
 'b': [1, 2, 3, 4],
 'c': 'an integer',
 'dummy': 13.0}

In [62]:
#You can delete values either using the del keyword 
#or the pop method (which simul‐ taneously returns the value and deletes the key):
del d1[5]
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 'an integer', 'dummy': 13.0}

In [63]:
ret = d1.pop('dummy')
ret

13.0

In [64]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 'an integer'}

In [66]:
list(d1.keys())
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [67]:
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 'c': 'an integer'}

In [69]:
#You can merge one dict into another using 
d1.update({'b' : 'foo', 'c' : 12,"anotherkey":(7,2)})
d1

{'a': 'some value', 'anotherkey': (7, 2), 'b': 'foo', 'c': 12}

#### Creating dicts from sequences

In [71]:
mapping = {}

mapping

{}

In [72]:
key_list=[1,2,3,4,5,]
value_list=["a","b","c","d","e"]

for key, value in zip(key_list, value_list):
    mapping[key] = value# in the first run mapping[1]="a"
    print(mapping)

{1: 'a'}
{1: 'a', 2: 'b'}
{1: 'a', 2: 'b', 3: 'c'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd'}
{1: 'a', 2: 'b', 3: 'c', 4: 'd', 5: 'e'}

In [74]:
#Since a dict is essentially a collection of 2-tuples, the dict function accepts a list of 2-tuples:
mapping = dict(zip(range(5), reversed(range(5))))
mapping
ls=[1,2]
ls2=["a","b"]
dict(zip(ls,ls2))

{1: 'a', 2: 'b'}

#### Default values

In [ ]:
#this is equivalent
if key in some_dict:
    value = some_dict[key]
else:
    value = default_value

In [80]:
#to this

words = {'apple':1, 'bat':2, 'bar':4, 'atom':5, 'book':5}
val=words.get("banana",0)
val

0

In [82]:
words = ['apple', 'bat', 'bar', 'atom', 'book',"orange"]
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]# by_letter[a]=[apple], by_letter["b"]= ["bat",bar"]
    else:
        by_letter[letter].append(word)
by_letter

{'a': ['apple', 'atom'], 'b': ['bat', 'bar', 'book'], 'o': ['orange']}

In [ ]:
for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)
by_letter

In [ ]:

for word in words:
    letter = word[0]
    by_letter.setdefault(letter, []).append(word)

The built-in collections module has a useful class, defaultdict, which makes this even easier. To create one, you pass a type or function for generating the default value for each slot in the dict:

In [ ]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

#### Valid dict key types

While the values of a dict can be any Python object, the keys generally have to be immutable objects like scalar types (int, float, string) or tuples (all the objects in the tuple need to be immutable, too). The technical term here is hashability. You can check whether an object is hashable (can be used as a key in a dict) with the hash function:

To use a list as a key, one option is to convert it to a tuple, which can be hashed as long as its elements also can:

In [ ]:
d = {}
d[tuple([1, 2, 3])] = 5
d

### set

A set is an unordered collection of unique elements.  A set can be created in two ways: via the set function or via a set literal with curly braces:

In [ ]:
set([2, 2, 2, 1, 3, 3])
{2, 2, 2, 1, 3, 3}

In [ ]:
a = {1, 2, 3, 4, 5}
b = {3, 4, 5, 6, 7, 8}

Sets support mathematical set operations like union, intersection, difference, and symmetric difference.

In [ ]:
a.union(b)
a | b

In [ ]:
a.intersection(b)
a & b
a

All of the logical set operations have <b>in-place</b> counterparts, which enable you to replace the contents of the set on the left side of the operation with the result. For very large sets, this may be more efficient:

In [ ]:
c = a.copy()
c

In [ ]:
c |= b

c

In [ ]:
d = a.copy()
d &= b
d

Like dicts, set elements generally must be immutable. To have list-like elements, you must convert it to a tuple:

In [ ]:
my_data = [1, 2, 3, 4]
my_set = {tuple(my_data)}
my_set

In [ ]:
a_set = {1, 2, 3, 4, 5}
{1, 2, 3}.issubset(a_set)
a_set.issuperset({1, 2, 3})

Sets are equal if and only if their contents are equal:

In [ ]:
{1, 2, 3} == {3, 2, 1}

### List, Set, and Dict Comprehensions

In [ ]:
[expr for val in collection if condition] 
#This is equivalent to the following for loop:
result = []
for val in collection:
    if condition: result.append(expr)

The filter condition can be omitted, leaving only the expression

In [ ]:
strings = ['a', 'as', 'bat', 'car', 'dove', 'python']
[x.upper() for x in strings if len(x) > 2]

Set and dict comprehensions are a natural extension, producing sets and dicts in an
idiomatically similar way instead of lists. A dict comprehension looks like this:<br>
<b>dict_comp = {key-expr : value-expr for value in collection if condition}</b>

sA set comprehension looks like the equivalent list comprehension except with curly braces instead of square brackets:<br>
<b>set_comp = {expr for value in collection if condition}</b>

In [ ]:
unique_lengths = {len(x) for x in strings}
unique_lengths

In [ ]:
set(map(len, strings))

As a simple dict comprehension example, we could create a lookup map of these strings to their locations in the list:

In [ ]:
loc_mapping = {val : index for index, val in enumerate(strings)}
loc_mapping

#### Nested list comprehensions

In [ ]:
all_data = [['John', 'Emily', 'Michael', 'Mary', 'Steven'],
            ['Meriae', 'Juan', 'Javier', 'Natalia', 'Pilar']]

Now, suppose we wanted to get a single list containing all names with two or more e’s in them

In [ ]:
names_of_interest = [] 
for names in all_data:
    enough_es = [name for name in names if name.count('e') >= 2]
    names_of_interest.extend(enough_es)
names_of_interest

In [ ]:
result = [name for names in all_data 
          for name in names
          if name.count('e') >= 2]
result

The for parts of the list comprehension are arranged according to the order of nesting, and any filter condition is put at the end as before. Here is another example where we “flatten” a list of tuples of integers into a simple list of integers:

In [ ]:
flattened = []
for tup in some_tuples: for x in tup:
            flattened.append(x)

In [ ]:
some_tuples = [(1, 2, 3), (4, 5, 6), (7, 8, 9)]
flattened = [x for tup in some_tuples 
             for x in tup]
flattened

fYou can have arbitrarily many levels of nesting, though if you have more than two or three levels of nesting you should probably start to question whether this makes sense from a code readability standpoint. It’s important to distinguish the syntax just shown from a list comprehension inside a list comprehension, which is also perfectly valid:

In [ ]:
[[x for x in tup] for tup in some_tuples]

## Functions

Functions are declared with the def keyword and returned from with the return key‐word:

In [ ]:
def my_function(x, y, z=1.5):
    if z > 1:
        return z * (x + y)
    else:
        return z / (x + y)

Each function can have positional arguments and keyword arguments. Keyword arguments are most commonly used to specify default values or optional arguments. In the preceding function, x and y are positional arguments while z is a keyword argu‐ment. This means that the function can be called in any of these ways:

In [ ]:
my_function(5, 6, z=0.7)
my_function(3.14, 7, 3.5)
my_function(10, 20)

<p>The main restriction on function arguments is that the keyword arguments must fol‐ low the positional arguments (if any). You can specify keyword arguments in any order; this frees you from having to remember which order the function arguments were specified in and only what their names are.</p><p>
It is possible to use keywords for passing positional arguments as well. In the preceding example, we could also have written:</p>

In [ ]:
my_function(x=5, y=6, z=7)
my_function(y=6, x=5, z=7)

### Namespaces, Scope, and Local Functions

In [ ]:
def func():
    a = []
    for i in range(5):
        a.append(i)

In [ ]:
a = []
def func():
    for i in range(5):
        a.append(i)

Assigning variables outside of the function’s scope is possible, but those variables must be declared as global via the global keyword:

In [ ]:
a = None
def bind_a_variable():
    global a
    a = []
bind_a_variable()
print(a)

### Returning Multiple Values

In [ ]:
def f():
    a = 5
    b = 6
    c = 7
    return a, b, c

a, b, c = f()

In [ ]:
return_value = f()

In [ ]:
def f():
    a = 5
    b = 6
    c = 7
    return {'a' : a, 'b' : b, 'c' : c}

### Functions Are Objects

In [ ]:
states = ['   Alabama ', 'Georgia!', 'Georgia', 'georgia', 'FlOrIda',
          'south   carolina##', 'W-est virginia?']

In [ ]:
import re

def clean_strings(strings):
    result = []
    for value in strings:
        value = value.strip()
        value = re.sub('[!#?-]', '', value)
        value = value.title()
        result.append(value)
    return result

In [ ]:
clean_strings(states)

['Alabama',
 'Georgia',
 'Georgia',
 'Georgia',
 'Florida',
 'South   Carolina',
 'West Virginia']

In [ ]:
def remove_punctuation(value):
    return re.sub('[!#?]', '', value)

clean_ops = [str.strip, remove_punctuation, str.title]

def clean_strings(strings, ops):
    result = []
    for value in strings:
        for function in ops:
            value = function(value)
        result.append(value)
    return result

In [ ]:
clean_strings(states, clean_ops)

<p>A more functional pattern like this enables you to easily modify how the strings are transformed at a very high level. The clean_strings function is also now more reus‐ able and generic.</p>
You can use <i>functions<i > as arguments to other functions like the built-in <b>map</b>:function, which applies a function to a sequence of some kind:

In [ ]:
for x in map(remove_punctuation, states):
    print(x)

### Anonymous (Lambda) Functions

lambda functions are a way of writing functions consisting of a single statement, the result of which is the return value. They are defined with the lambda keyword.

In [ ]:
def short_function(x):
    return x * 2
#equivalent 
equiv_anon = lambda x: x * 2

In [ ]:
def apply_to_list(some_list, f):
    return [f(x) for x in some_list]

ints = [4, 0, 1, 5, 6]
apply_to_list(ints, lambda x: x * 2)

As another example, suppose you wanted to sort a collection of strings by the number of distinct letters in each string:

In [ ]:
strings = ['foo', 'card', 'bar', 'aaaa', 'abab']

In [ ]:
strings.sort(key=lambda x: len(set(list(x))))
strings

### Currying: Partial Argument Application

Currying is computer science jargon (named after the mathematician Haskell Curry) that means deriving new functions from existing ones by partial argument applica‐ tion. For example, suppose we had a trivial function that adds two numbers together:

In [ ]:
def add_numbers(x, y):
    return x + y

In [ ]:
add_five = lambda y: add_numbers(5, y)

The second argument to add_numbers is said to be curried. There’s nothing very fancy here, as all we’ve really done is define a new function that calls an existing function. The built-in functools module can simplify this process using the partial function:

In [ ]:
from functools import partial
add_five = partial(add_numbers, 5)

### Generators

In [ ]:
some_dict = {'a': 1, 'b': 2, 'c': 3}
for key in some_dict:
    print(key)

When you write for key in some_dict, the Python interpreter first attempts to cre‐ ate an iterator out of some_dict:

In [ ]:
dict_iterator = iter(some_dict)
dict_iterator


An iterator is any object that will yield objects to the Python interpreter when used in a context like a for loop. Most methods expecting a list or list-like object will also accept any iterable object. This includes built-in methods such as min, max, and sum, and type constructors like list and tuple:

In [ ]:
list(dict_iterator)

A generator is a concise way to construct a new iterable object. Whereas normal func‐ tions execute and return a single result at a time, generators return a sequence of multiple results lazily, pausing after each one until the next one is requested. To create a generator, use the yield keyword instead of return in a function:

In [ ]:
def squares(n=10):
    print('Generating squares from 1 to {0}'.format(n ** 2))
    for i in range(1, n + 1):
        yield i ** 2

In [ ]:
gen = squares()
gen

It is not until you request elements from the generator that it begins executing its code:

In [ ]:
for x in gen:
    print(x, end=' ')

Generating squares from 1 to 100
1 4 9 16 25 36 49 64 81 100

#### Generator expresssions

Another even more concise way to make a generator is by using a generator expres‐ sion. This is a generator analogue to list, dict, and set comprehensions; to create one, enclose what would otherwise be a list comprehension within parentheses instead of brackets:

In [ ]:
gen = (x ** 2 for x in range(100))
gen

In [ ]:
#which is equivalent to
def _make_gen():
    for x in range(100):
        yield x ** 2
gen = _make_gen()

Generator expressions can be used instead of list comprehensions as function argu‐ ments in many cases:

In [ ]:
sum(x ** 2 for x in range(100))
dict((i, i **2) for i in range(5))

#### itertools module

In [ ]:
import itertools
first_letter = lambda x: x[0]
names = ['Alan', 'Adam', 'Wes', 'Will', 'Albert', 'Steven']
for letter, names in itertools.groupby(names, first_letter):
    print(letter, list(names)) # names is a generator

A ['Alan', 'Adam']
W ['Wes', 'Will']
A ['Albert']
S ['Steven']

### Errors and Exception Handling

In [ ]:
float('1.2345')
float('something')

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except:
        return x

In [ ]:
attempt_float('1.2345')
attempt_float('something')

In [ ]:
float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except ValueError:
        return x

In [ ]:
attempt_float((1, 2))

In [ ]:
def attempt_float(x):
    try:
        return float(x)
    except (TypeError, ValueError):
        return x

In [ ]:
f = open(path, 'w')

try:
    write_to_file(f)
finally:
    f.close()

In [ ]:
f = open(path, 'w')

try:
    write_to_file(f)
except:
    print('Failed')
else:
    print('Succeeded')
finally:
    f.close()

#### Exceptions in IPython

In [ ]:
In [10]: %run examples/ipython_bug.py
---------------------------------------------------------------------------
AssertionError                            Traceback (most recent call last)
/home/wesm/code/pydata-book/examples/ipython_bug.py in <module>()
     13     throws_an_exception()
     14
---> 15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in calling_things()
     11 def calling_things():
     12     works_fine()
---> 13     throws_an_exception()
     14
     15 calling_things()

/home/wesm/code/pydata-book/examples/ipython_bug.py in throws_an_exception()
      7     a = 5
      8     b = 6
----> 9     assert(a + b == 10)
     10
     11 def calling_things():

AssertionError:

## Files and the Operating System

In [ ]:
%pushd book-materials

In [ ]:
path = 'examples/segismundo.txt'
f = open(path)

In [ ]:
for line in f:
    pass

The lines come out of the file with the end-of-line (EOL) markers intact, so you’ll often see code to get an EOL-free list of lines in a file like:

In [ ]:
lines = [x.rstrip() for x in open(path)]
lines

In [ ]:
f.close()

In [ ]:
with open(path) as f:
    lines = [x.rstrip() for x in f]

This will automatically close the file f when exiting the <b>with</b> block.

If we had typed f = open(path, 'w'), a new file at examples/segismundo.txt would have been created (be careful!), overwriting any one in its place. There is also the 'x' file mode, which creates a writable file but fails if the file path already exists.

In [ ]:
f = open(path)
f.read(10)
f2 = open(path, 'rb')  # Binary mode
f2.read(10)

In [ ]:
f.tell()
f2.tell()

In [ ]:
import sys
sys.getdefaultencoding()

In [ ]:
f.seek(3)
f.read(1)

In [ ]:
f.close()
f2.close()

To write text to a file, you can use the file’s write or writelines methods. For exam‐
ple, we could create a version of prof_mod.py with no blank lines like so:

In [ ]:
with open('tmp.txt', 'w') as handle:
    handle.writelines(x for x in open(path) if len(x) > 1)
with open('tmp.txt') as f:
    lines = f.readlines()
lines

In [ ]:
import os
os.remove('tmp.txt')

### Bytes and Unicode with Files

In [ ]:
with open(path) as f:
    chars = f.read(10)
chars

In [ ]:
with open(path, 'rb') as f:
    data = f.read(10)
data

In [ ]:
data.decode('utf8')
data[:4].decode('utf8')

In [ ]:
sink_path = 'sink.txt'
with open(path) as source:
    with open(sink_path, 'xt', encoding='iso-8859-1') as sink:
        sink.write(source.read())
with open(sink_path, encoding='iso-8859-1') as f:
    print(f.read(10))

In [ ]:
os.remove(sink_path)

In [ ]:
f = open(path)
f.read(5)
f.seek(4)
f.read(1)
f.close()

In [ ]:
%popd

## Conclusion